<th:block th:fragment="emptyMessages">
    <div class="columns is-centered is-vcentered" style="min-height: 100%">
        <div class="column is-half has-text-centered">
        <span class="icon is-large">
          <i class="fa-brands fa-rocketchat fa-2xl"></i>
        </span>
            <br>
            <small>Nada por aqui! Parece que a mensagem foi escondida em um local secreto que ainda não encontramos...</small>
        </div>
    </div>
</th:block>

<th:block th:fragment="loading">
    <style>
        .rotate {
            animation: rotation 2s infinite linear;
        }

        @keyframes rotation {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
            }
        }
    </style>
    <div id="loading" class="columns is-centered is-vcentered" style="min-height: 100%">
        <div class="column is-half has-text-centered">
            <span class="icon is-large">
                <i class="fa-solid fa-spinner fa-2xl rotate"></i>
            </span>
            <br>
            <small>Desenrolando o pergaminho cifrado...</small>
        </div>
    </div>
</th:block>

<article class="media pt-2" th:fragment="recivedMessage">
    <div class="media-left">
        <figure class="image is-64x64">
            <img class="is-rounded" th:src="'/images/profile/'+ ${message.sender.avatar} +'.png'" alt="Image">
        </figure>
    </div>
    <div class="media-content">
        <div class="content">
            <p class="mb-1">
                <strong th:text="${message.sender.name}">John Smith</strong> <small th:text="${'@' + message.sender.username}">@johnsmith</small> <small th:text="${' - ' + message.sentDate}">31m</small>
                <br>
                <span style="overflow-wrap: anywhere" th:id="'message' + ${message.id}" th:text="${message.content}"></span>
            </p>
            <div class="tags has-addons" style="cursor: pointer" th:attr="data-cryptoType=${message.cryptoType.ordinal()},data-encrypted=${'true'}" th:onclick="'crypt(this, '+ ${message.id} +')'">
                <span class="tag mb-0">
                    <i th:id="'lock' + ${message.id}" class="fa-solid fa-lock"></i>
                </span>
                <span th:if="${message.cryptoType.name() == 'VIGENERE'}" class="tag is-info mb-0" th:text="${message.cryptoType}"></span>
                <span th:if="${message.cryptoType.name() == 'VERNAN'}" class="tag is-link mb-0" th:text="${message.cryptoType}"></span>
                <span th:if="${message.cryptoType.name() == 'AES256'}" class="tag is-primary mb-0" th:text="${message.cryptoType}"></span>
            </div>
        </div>
    </div>
</article>

<article class="media pt-2" th:fragment="writeMessage">
    <figure class="media-left">
        <p class="image is-64x64">
            <img th:src="'/images/profile/' + ${user.avatar} + '.png'">
        </p>
    </figure>
    <div class="media-content">
        <div class="field">
            <p class="control">
                <input type="hidden" id="sender" name="sender" th:attr="value=${user.id}">
                <p style="padding-bottom: 10px"><strong th:text="${user.name}">John Smith</strong> <small th:text="${'@' + user.username}"></small></p>
                <textarea id="messageContent" class="textarea" placeholder="Escreva sua mensagem..." style="resize: none; min-height: 5em;"></textarea>
            </p>
        </div>
        <nav class="level">
            <div class="level-left">
                <div class="level-item">
                    <button onclick="encryptMessage()" class="button is-info">Enviar</button>
                </div>
                <div class="level-item">
                    <div class="select is-link">
                        <select id="sendUsers" >
                            <option value="0" th:text="Todos"></option>
                            <th:block th:each="u:${listUsers}">
                                <option th:attr="value=${u.id}" th:text="${u.name}"></option>
                            </th:block>
                        </select>
                    </div>
                </div>
            </div>
            <div class="level-right">
                <div class="level-item">
                    <div class="select is-link">
                        <select id="cryptoType" >
                            <th:block th:each="cryptoType:${T(br.com.model.CryptoType).values()}">
                                <option th:attr="value=${cryptoType.ordinal()}" th:text="${cryptoType.name()}"></option>
                            </th:block>
                        </select>
                    </div>
                </div>
            </div>
        </nav>
    </div>

<script>

    String.prototype.replaceAt = function(index, replacement) {
        return this.substring(0, index) + replacement + this.substring(index + replacement.length);
    }

    var messageContent = document.getElementById("messageContent");
    var cryptoType = document.getElementById("cryptoType");
    var receiver = document.getElementById("sendUsers");
    var sender = document.getElementById("sender");

    function fomatDate(date){
        const dateOptions = {
            day: '2-digit',
            month: '2-digit',
            year: 'numeric',
        };
        const timeOptions = {
            hour: '2-digit',
            minute: '2-digit',
        };
        var stringDate = date.toLocaleDateString('pt-BR', dateOptions);
        var stringTime = date.toLocaleTimeString('pt-BR', timeOptions);
        return `${stringDate} ${stringTime}`;
    }

    function encryptMessage(){

        var encrypt = {
            message: messageContent.value,
            cryptoType: cryptoType.value
        }

        fetch("message/encrypt", {
            method:"POST",
            headers:{"Content-Type":"application/json"},
            body: JSON.stringify(encrypt)
        }).then(function (response) {
            if(response.ok) {
                return response.text();
            }
        }).then(function (body){
            changeValue(body);
        });

    }

    async function changeValue(newValue) {
        for (i = 0; i < newValue.length; i++) {
            await setTimeout(await animateChange(newValue, i), 1000)
        }
        sendMessage();
    }

    function animateChange(newValue, index){
        var oldValue = messageContent.value;
        var auxValue = oldValue.replaceAt(index, newValue.charAt(index));
        messageContent.value = auxValue;
    }
    function sendMessage(){

        if(messageContent.value !== "") {

            var message = {
                content: messageContent.value,
                cryptoType: cryptoType.value,
                receiver: {
                    id: receiver.value,
                },
                sender: {
                    id: sender.value,
                },
                sentDate: fomatDate(new Date()),
            }

            fetch("message/create", {
                method: "POST",
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify(message)
            }).then(result => {
                messageContent.value = "";
            });

        }

    }
</script>
</article>